footer .social-links a {
  text-decoration: none;
}

footer .social-links a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(to bottom, #f7b684, rgb(185, 170, 216));
  position: relative;
  z-index: 0;
}

.text {
  color: rgb(107, 9, 131);
}

