<div class="game-main-content">

  <h1 *ngIf="!isGameOver">Hi {{ username }}! <br><br> Welcome to the Game</h1>

  <div *ngIf="isGameOver" class="game-over-message">
    <h1>Thanks for playing!</h1>
    <p>Wrong attempts: {{ wrongAttempts }}</p>
  </div>

  <div *ngIf="!isGameOver" class="game-container">
    <div class="card" *ngFor="let card of cards" (click)="flipCard(card)">
      <div class="card-inner" [class.flipped]="card.isFlipped || card.isMatched">
        <div class="card-front">{{ card.isFlipped || card.isMatched ? card.value : '?' }}</div>
        <div class="card-back"></div>
      </div>
    </div>
  </div>
  
</div>